body {
    background-color: black;
}

header {
    background-color: black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
    color: white;
}

p {
    font-family: cursive;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
}

nav {
    min-width: 576;
    max-width: 1200;
}

h2{
    padding-top: 2em;
}

div section{
    padding-top: 2em;
}

footer{
    padding-top: 2em;
}

@media (max-width: 1200px) {
    .footer{
    margin-left : 50%;
    
}
}


@media  (min-width: 1200px) {
    .section{
    margin-left: 25rem;
    margin-right : 25rem;
}
}




.section{
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
}

.container-fluid{
    padding-left: 2em;
    padding-right: 2em;
}

.border-box{
    height: 500px;
    width: 500px;
}

h2{
    text-align: center;
    color: white;
    text-decoration: underline;

}

h5{
    color: white;
}

footer{
    padding-left: 35%;
    padding-right: 35%;
}

