body {
    background-color: black;
}

header {
    background-color: black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
    color: white;
}

p {
    font-family: cursive;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
}

nav {
    min-width: 576;
    max-width: 1200;
}


div{
    width: 200px;
    height: 200px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}

ul{
    color: lightblue;
}


html{
    background-color: black;
}




body header p {
    font-style: italic;
}

h2{
    text-decoration: underline;
}

p{
    text-align: center;
}
