nav {
    min-width: 576;
    max-width: 1200;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    @include MQ-small(){
        font-size: small
    }
    @include MQ-large(){
        font-size: large;
    }

}