footer {
    padding-top: 200px;
    padding-left: 35%;
    padding-right: 35%;

    





    div {

        background-color: black;

        h3 {
            color: $primary-color
        }

        a:hover {
            color: green;
            transform: scale(1.1)
        }

    }



}