footer {
    padding-top: 200px;
    padding-left: 35%;
    padding-right: 35%;





    div {
        h3 {
            color: white;
        }

        a:hover {
            color: green;
            transform: scale(1.1)
        }

    }



}