section {
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;

    h2 {
        padding-top: 2em;
        text-align: center;
        text-decoration: underline, $primary-color;
    }


    div {
        padding-top: 2em;
    }


}