h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
    color: white;
}

p {
    font-family: cursive;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
}